/*  your css code here. If applicable */
 table, th, td {
      border: 1px solid black;
    }

    table {
      background-color: yellow;
      text-align: center;
      margin: 20px auto;
      font-family: Arial, sans-serif;
      font-size: 18px;
    }

    caption {
      caption-side: top;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    th, td {
      padding: 10px 20px;
    }

    th {
      font-weight: bold;
    }